<%= form_for(@developer) do |f| %>
  <% if @developer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@developer.errors.count, "error") %> prohibited this developer from being saved:</h2>

      <ul>
      <% @developer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
    <% if current_user.class == Admin %>
    <%= f.label :project_id %>
    <%= select("developer", "project_id", Project.all.collect{ |c| [ c.name, c.id] }, {include_blank: true}) %>
    <% end %>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
