<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong><br>
  <%= @developer.name %><br>

  <strong>Email:</strong><br>
  <%= @developer.email%><br>

  <strong>Stories created:</strong><br>
  <% Story.where(developer_id: @developer.id).each do |story| %>
      <tr>
        <td><%= story.title %></td>
        <td><%= link_to 'Show', story %></td>
      </tr><br>
  <% end %><br>

  <strong>Stories current work on:</strong><br>
  <% if !@developer.story_id.nil? %>
    <%= Story.find(@developer.story_id).title %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_developer_path(@developer) %> |
<%= link_to 'Back', developers_path %>
