<p id="notice"><%= notice %></p>
<%= provide(:title, @developer.name.to_s+"'s profile")%>
   <h1>Developer details</h1>
<p>
  <strong>Name:</strong>
  <%= @developer.name %>
  <br>
  <strong>Email:</strong>
  <%= @developer.email %>
  <br>
  <strong>Status:</strong>
  <%= @developer.class.to_s %>
  <br>
  <strong>Project working on:</strong>
  <% if @developer.project_id == nil %>
      <%= 'None' %>
      <% else %>
  <%= Project.find(@developer.project_id).name %>
  <%= link_to 'Show', project_path({:id => @developer.project_id}) %>
      <% end %>
  <br>
  <strong>Story working on:</strong>
  <% if @developer.story_id == nil %>
      <%= 'None' %>
      <% else %>
      <%= Story.find(@developer.story_id).title %>
  <%= link_to 'Show', story_path({:id => @developer.story_id}) %>
      <% end %>
  <br>
  <strong>Create stories:</strong>
  <% if Story.where(developer_id: @developer.id).nil? %>
      <%= 'None' %>
  <% else %>
      <% Story.where(developer_id: @developer.id).each do |story| %>
        <td><%= story.title %></td>
        <td><%= link_to 'Show', story_path({:id => story.id}) %></td>
        <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_developer_path(@developer) %> |
<%= link_to 'Back', developers_path %>
