<p id="notice"><%= notice %></p>
<% provide(:title, "Projects List") %>
<h1>Listing Projects</h1>

<div class="row">
<div class="col-md-5 col-md-offset-3">
  <table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 </div>
  </div>

<br>
<br>
<% if  current_user.class == Developer && !current_user.project_id.nil?  %>
<%= link_to 'New Story', new_story_path , class: 'btn btn-primary'%>
    <% else %>
    <center><%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %></center>
    <% end %>



