<p id="notice"><%= notice %></p>
<h1>Project details</h1>
<p>
  <strong>Name:</strong>
  <%= @project.name %>
  <br>
  <strong>Description:</strong>
  <%= @project.description %>
  <br>
  <strong>Stories List:</strong>
  <br>
  <% Story.where(project_id: @project.id).each do |story| %>
      <tr>
        <td><%= story.title %></td>
        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><% if current_user.class == Developer %>
           <%= link_to 'Sign up',signup_path(story) %>

        <% end %></td>
        <br>
      </tr>
  <% end %>
  <% if current_user.class == Developer && current_user.project_id == @project.id %>
      <%= link_to 'New Story', new_story_path %>
      <% end %>
  <br>
  <strong>Developers List:</strong>
  <br>
  <% Developer.where(project_id: @project.id).each do |developer| %>
      <tr>
        <td><%= developer.name %></td>
        <td><%= link_to 'Show', developer %></td>
        <br>
      </tr>
  <% end %>
  <br>
  <% if current_user.class == Admin %>
      <strong>Add developer to project:</strong>
      <br>
  <%= form_for @developer, url: @project do |f|%>
      <%= select("developer", "id", Developer.all.collect{ |c| [ c.name, c.id] }) %>
      <%= f.submit "Add"%>
      <% end %>
  <% end %>
  <br>

</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
