<p id="notice"><%= notice %></p>
<% if params[:replace] %>
    <%= form_for @developer,  url: @story do |f| %>
        <%= select("developer", "id", Developer.where(story_id: params[:id]).collect{ |c| [ c.name, c.id] }) %>
        <%= f.submit "Replace"%>
    <% end %>
<% end %>
<h1>Story details</h1>
<p>
  <strong>Name:</strong>
  <%= @story.title %>
  <br>
  <strong>Description:</strong>
  <%= @story.description %>
  <br>
  <strong>Project:</strong>
  <%= Project.find(@story.project_id).name %>
  <br>
  <strong>Stage:</strong>
  <%= Stage.find(@story.stage_id).name %>
  <br>
  <strong>Developer:</strong>
  <% Developer.where(story_id: @story.id).each do |developer| %>
      <tr>
        <td><%= developer.name %></td>
        <td><%= link_to 'Show', developer %></td>
      </tr>
  <% end %>
  <br>
  <strong>Content:</strong>
  <%= @story.content %>
  <br>
  <br>
  <% if current_user.class == Developer %>
      <%= link_to 'Sign up',signup_path(@story) %>
  <% end %>

</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', Project.find_by(id: @story.project_id) %>
