<!DOCTYPE html>
<html>
<head>
  <title>Storyboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Story board test</h1>
<% if !current_user.nil? %>
<p>Current user: <%= current_user.name %> <%= '(' + current_user.class.to_s + ')' %>
  <%= link_to 'Show', current_user.class == Developer ? current_user : current_user %>
  <%= link_to 'Edit', current_user.class == Developer ? edit_developer_path(current_user) : edit_admin_path(current_user) %>
</p>
    <% end %>
<%= yield %>
<br>
<br>
<%= link_to "Home Page", home_path %>
<br>
<% if current_user.nil? %>
<%= link_to "Log in", login_path %>
<% end %>

<%= link_to "Log out", logout_path, method: :get %>
</body>
</html>
